%section#main
    = image_tag 'bg.jpg', alt: 'background picture: code on a screen', class: 'background'
    %h1
        Giancarlo Pernudi Segura
    %h2
        Software Developer &
    %h2
        Canadia Soldier
    %ul
        %li
            %a{ href: 'https://github.com/giancarlopernudisegura/', target: 'blank' }
                %i.fab.fa-github
        %li
            %a{ href: 'https://linkedin.com/in/giancarlo-pernudi-segura-b66a17195/', target: 'blank' }
                %i.fab.fa-linkedin-in
        %li
            %a{ href: 'resume.pdf', target: 'blank' }
                %i.fas.fa-file-pdf
                -# Resume
        %li
            %a{ onclick: 'document.getElementById("email").classList.remove("hide")' }
                %i.fas.fa-envelope
    .popup#email.hide
        %h3
            Email
        - email = 'pernudig@gmail.com'
        %input{ value: email, disabled: '' }
        %button.close{ onclick: 'document.getElementById("email").classList.add("hide")' }
            %i.fas.fa-times
        %button#copy{ onclick: 'copy(document.querySelector(".popup#email input")); notify(800)' }
            copy
        %label.hide
            copied!
    %a#arrow{ href: '#projects' }
        %i.fas.fa-angle-double-up
%section#projects
    %h1
        Projects
    - data.info.projects.each do |proj|
        .card
            = image_tag 'thumbnail/' + proj.image, alt: 'project thumbnail', class: 'hide-sm'
            -# .divider
            .content
                %h1
                    = proj.title
                = image_tag 'thumbnail/' + proj.image, alt: 'project thumbnail', class: 'show-sm'
                - proj.tools.each do |tool|
                    .tag
                        = '#' + tool
                %p
                    = proj.text
                - if proj.demo
                    %a{ href: proj.demo }
                        %i.fas.fa-eye
                        Live Demo
                - if proj.repo
                    %a{ href: proj.repo, target: 'blank' }
                        %i.fas.fa-code
                        Source Code
                - else
                    %a.private
                        %i.fas.fa-eye-slash
                        Private Code
