%main
  .card
    %p
      This is a collection of some of my top projects I've worked on.
    .array
      %a.thumbnail{ href: 'https://giancarlopernudisegura.github.io/ww1-cafmap/' }
        = image_tag 'ww1-cafmap.png'
        %p.text
          WW1 CAFMAP
      %a.thumbnail{ href: 'https://github.com/giancarlopernudisegura/packingList' }
        = image_tag 'packingList.png'
        %p.text
          Packing List
      %a.thumbnail{ href: 'https://github.com/giancarlopernudisegura/attendance' }
        = image_tag 'https://unsplash.it/187'
        %p.text
          Attendance
      %a.thumbnail{ href: '/art' }
        = image_tag 'https://unsplash.it/197'
        %p.text
          Project #4
      %a.thumbnail{ href: '/' }
        = image_tag 'https://unsplash.it/191'
        %p.text
          Project #5
